In [1]:
print("Ok")

Ok

### MySQL Connection

In [2]:
import mysql.connector as connection
import os
from dotenv import load_dotenv

load_dotenv()

try:
    mydb = connection.connect(
        host=os.getenv("host"),
        user=os.getenv("user"),
        passwd=os.getenv("passwd"),
        use_pure=True)
    print(mydb.is_connected())
    mydb.close()

except Exception as e:
    print(str(e))

True

### Show MySQL Databases

In [3]:
import mysql.connector as connection

try:
    mydb = connection.connect(
        host=os.getenv("host"),
        user=os.getenv("user"),
        passwd=os.getenv("passwd"),
        use_pure=True)

    query = "SHOW DATABASES"
    cursor = mydb.cursor()
    cursor.execute(query)

    print(cursor.fetchall())


except Exception as e:
    mydb.close()
    print(str(e))

[('information_schema',), ('mysql',), ('performance_schema',), ('sakila',), ('sys',), ('world',)]

### Delete / drop database

In [4]:
# cursor.execute("DROP DATABASE IF EXISTS student")

### Create Database

In [5]:
import mysql.connector as connection

try:
    mydb = connection.connect(
        host=os.getenv("host"),
        user=os.getenv("user"),
        passwd=os.getenv("passwd"),
        use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())

    query = "Create database Student;"
    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    print("Database Created!!")
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True
Database Created!!

### Create Table Schema

In [6]:
import mysql.connector as connection

try:
    mydb = connection.connect(
        host=os.getenv("host"),
        user=os.getenv("user"),
        passwd=os.getenv("passwd"),
        database="Student",
        use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())

    query = "CREATE TABLE StudentDetails (Studentid INT(10) AUTO_INCREMENT PRIMARY KEY,FirstName VARCHAR(60)," \
            "LastName VARCHAR(60), RegistrationDate DATE,Class Varchar(20), Section Varchar(10))"

    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    print("Table Created!!")
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True
Table Created!!

### Insert data to table

In [7]:
import mysql.connector as connection

try:
    mydb = connection.connect(
        host=os.getenv("host"),
        user=os.getenv("user"),
        passwd=os.getenv("passwd"),
        database="Student",
        use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())
    query = "INSERT INTO StudentDetails VALUES ('1132','Sachin','Kumar','1997-11-11','Eleventh','A')"

    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    print("Values inserted into the table!!")
    mydb.commit()
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True
Values inserted into the table!!

### Insert values from CSV to MySQL

In [8]:
import csv

try:
    mydb = connection.connect(
        host=os.getenv("host"),
        user=os.getenv("user"),
        passwd=os.getenv("passwd"),
        use_pure=True)

    print(mydb.is_connected())

    query = "Create database GlassData;"
    cursor = mydb.cursor()
    cursor.execute(query)
    print("Database Created!!")
    mydb.close()

    mydb = connection.connect(
        host=os.getenv("host"),
        user=os.getenv("user"),
        passwd=os.getenv("passwd"),
        database="GlassData",
        use_pure=True)

    query = "CREATE TABLE IF NOT EXISTS GlassDetails (Index_Number INT(10),RI float(10,5), Na float(10,5), Mg float(10,5),Al float(10,5)," \
            " Si float(10,5), K float(10,5), Ca float(10,5), Ba float(10,5), Fe float(10,5), Class INT(5))"
    cursor = mydb.cursor()
    cursor.execute(query)
    print("Table Created!!")

    # Fixed CSV reading section
    with open('glass.data', "r") as f:
        next(f)  # skip header if exists
        glass_data = csv.reader(f, delimiter=",") # "\n" to ","
        for row in glass_data:
            # row is already a list of values
            placeholders = ','.join(['%s'] * len(row))
            cursor.execute(f'INSERT INTO GlassDetails values ({placeholders})', row)

    print("Values inserted!!")
    mydb.commit()
    cursor.close()
    mydb.close()

except Exception as e:
    mydb.close()
    print(str(e))

True
Database Created!!
Table Created!!
Values inserted!!

### Show database data

In [ ]:
import mysql.connector as connection


try:
    mydb = connection.connect(
        host=os.getenv("host"),
        user=os.getenv("user"),
        passwd=os.getenv("passwd"),
        database="GlassData",
        use_pure=True)
    #check if the connection is established
    print(mydb.is_connected())
    query = "Select * from GlassDetails;"
    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    for result in cursor.fetchall()[:10]:
        print(result)
    mydb.close() #close the connection


except Exception as e:
    #mydb.close()
    print(str(e))

True
(1, 1.52101, 13.64, 4.49, 1.1, 71.78, 0.06, 8.75, 0.0, 0.0, 1)
(2, 1.51761, 13.89, 3.6, 1.36, 72.73, 0.48, 7.83, 0.0, 0.0, 1)
(3, 1.51618, 13.53, 3.55, 1.54, 72.99, 0.39, 7.78, 0.0, 0.0, 1)
(4, 1.51766, 13.21, 3.69, 1.29, 72.61, 0.57, 8.22, 0.0, 0.0, 1)
(5, 1.51742, 13.27, 3.62, 1.24, 73.08, 0.55, 8.07, 0.0, 0.0, 1)
(6, 1.51596, 12.79, 3.61, 1.62, 72.97, 0.64, 8.07, 0.0, 0.26, 1)
(7, 1.51743, 13.3, 3.6, 1.14, 73.09, 0.58, 8.17, 0.0, 0.0, 1)
(8, 1.51756, 13.15, 3.61, 1.05, 73.24, 0.57, 8.24, 0.0, 0.0, 1)
(9, 1.51918, 14.04, 3.58, 1.37, 72.08, 0.56, 8.3, 0.0, 0.0, 1)
(10, 1.51755, 13.0, 3.6, 1.36, 72.99, 0.57, 8.4, 0.0, 0.11, 1)

### Update data

In [10]:
import mysql.connector as connection
import pandas as pandas

try:

    mydb = connection.connect(
        host=os.getenv("host"),
        user=os.getenv("user"),
        passwd=os.getenv("passwd"),
        database="Student",
        use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())
    query = "UPDATE studentdetails SET FirstName = 'Alahi', LastName = 'Almin' WHERE Studentid = 1132"
    cursor = mydb.cursor()  # create a cursor to execute queries
    cursor.execute(query)
    mydb.commit()

    #let's check if the value is updated in the table.
    query = "Select * from studentdetails where Studentid=1132;"
    cursor = mydb.cursor()  # create a cursor to execute queries
    cursor.execute(query)
    for result in cursor.fetchall():
        print(result)

    mydb.close()  # close the connection

except Exception as e:
    #mydb.close()
    print(str(e))

True
(1132, 'Alahi', 'Almin', datetime.date(1997, 11, 11), 'Eleventh', 'A')

### Delete table row

In [12]:
import mysql.connector as connection

try:

    mydb = connection.connect(
        host=os.getenv("host"),
        user=os.getenv("user"),
        passwd=os.getenv("passwd"),
        database="Student",
        use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())
    query = "DELETE FROM studentdetails WHERE Studentid = 1132"
    cursor = mydb.cursor()  # create a cursor to execute queries
    cursor.execute(query)
    mydb.commit()

    #let's check if the value is updated in the table.
    query = "Select * from studentdetails where Studentid=1132;"
    cursor = mydb.cursor()  # create a cursor to execute queries
    cursor.execute(query)
    for result in cursor.fetchall():
        print(result)

    mydb.close()  # close the connection

except Exception as e:
    #mydb.close()
    print(str(e))

True