# Tuple, Set & Dictionary

## Tuples

A tuple in Python is similar to a list. The difference between the two is that we cannot change the elements of a tuple once it is assigned whereas we can change the elements of a list.

In short, a tuple is an immutable list. A tuple can not be changed in any way once it is created.

Characterstics

- Ordered
- Unchangeble
- Allows duplicate


### Topic to be discussed

- Creating a Tuple
- Accessing items
- Editing items
- Adding items
- Deleting items
- Operations on Tuples
- Tuple Functions

# Creating Tuples

In [1]:
l = []

In [2]:
#empty tuple
t1 = ()
print(t1)
print(type(t1))

()
<class 'tuple'>

In [3]:
t2 = ("tansen")
print(t2)
print(type(t2))

tansen
<class 'str'>

In [4]:
# create a tuple with a single item

t2 = ("tansen",)
print(t2)
print(type(t2))

('tansen',)
<class 'tuple'>

In [5]:
# homo
t3 = (1,2,3,4)
print(t3)

# hetro
t4 = (1,2.5,True,[1,2,3])
print(t4)

# nested tuple
t5 = (1,2,3,(4,5))
print(t5)

# using type conversion
t6 = tuple('hello')
print(t6)

(1, 2, 3, 4)
(1, 2.5, True, [1, 2, 3])
(1, 2, 3, (4, 5))
('h', 'e', 'l', 'l', 'o')

## Accessing Items

- Indexing
- Slicing

In [6]:
t3 = (1,2,3,4)

In [7]:
t3[0]

1

In [8]:
t3[-2]

3

In [9]:
t3[0:3]

(1, 2, 3)

In [10]:
t3

(1, 2, 3, 4)

In [11]:
t3[::2]

(1, 3)

## Editing items / Deleting items

In [12]:
t3 = (1,2,3,4)

In [13]:
t3[0] = 100

TypeError: 'tuple' object does not support item assignment

In [14]:
del t3[0]

TypeError: 'tuple' object doesn't support item deletion

# Type casting

In [15]:
t3 = (1,2,3,4)

temp = list(t3)

print(temp)

[1, 2, 3, 4]

In [16]:
temp.append(200)

In [17]:
temp

[1, 2, 3, 4, 200]

In [18]:
t3 = tuple(temp)
t3

(1, 2, 3, 4, 200)

In [19]:
L = [2,3,4]

L = tuple(L)

print(L)

(2, 3, 4)

## Operations on Tuples

- Arithmetic
- Membership
- Loop

In [20]:
# arithmetic operations +, *

t1 = (1,2,3,4)
t2 = (5,6,7,8)

t1 + t2 # concatination

(1, 2, 3, 4, 5, 6, 7, 8)

In [21]:
t1 * 4

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [22]:
# membership

t1 = (1,2,3,4)

In [23]:
1 in t1

True

In [24]:
1 not in t1

False

In [25]:
# loop

t1 = (1,2,3,4)

for i in t1:
    print(i)

1
2
3
4

## Tuple Methods

### len/min/max/sorted/sum

In [26]:
t = (1,2,3,40)

print(len(t))
print(min(t))
print(max(t))
print(sum(t))
print(sorted(t,reverse=False))

4
1
40
46
[1, 2, 3, 40]

In [27]:
# count

t = (1,2,3,3,40)

t.count(3)

2

In [28]:
# index

t.index(2)

1

In [29]:
t = (1,2,3,3,40)

temp = list(t)
temp

[1, 2, 3, 3, 40]

### Difference between Lists and Tuples

### Difference between Lists and Tuples

- Syntax
- Mutability
- Speed
- Memory
- Built in functionality
- Error
- Usability

In [30]:
import sys

L = list(range(1000))
T = tuple(range(1000))

print('List size',sys.getsizeof(L))
print('Tuple size',sys.getsizeof(T))

List size 8056
Tuple size 8040

In [31]:
a = [1,2,3]
b = a

a.append(4)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [32]:
print(id(a))
print(id(b))

2509123970176
2509123970176

In [33]:
a = (1,2,3)
b = a

a = a + (4,)
print(a)
print(b)

(1, 2, 3, 4)
(1, 2, 3)

## Tuple Unpacking

In [34]:
a,b,c = (1,2,3)

In [35]:
print(a,b,c)

1 2 3

In [36]:
a,b,c,d = (1,2,3)

ValueError: not enough values to unpack (expected 4, got 3)

In [37]:
a,b,c =[1,2,3]

In [38]:
print(a,b,c)

1 2 3

In [39]:
a,b,*others = (1,2,3,4,7,5)

In [40]:
print(a,b)

1 2

In [41]:
a

1

In [42]:
others

[3, 4, 7, 5]

In [43]:
# zipping tuples
a = (1,2,3,4)
b = (5,6,7,8)

tuple(zip(a,b))

((1, 5), (2, 6), (3, 7), (4, 8))

## Tuple Comprehension

You might have read about list comprehension in Python. However, there is no tuple comprehension in Python. But We will discuss how we can emulate tuple comprehension in Python.

In [44]:
# Add 1 to 10 numbers to a list

L = []

for i in range(1,11):
    L.append(i)

print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [45]:
tuple((i for i in range(1,11)))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [46]:
# scalar multiplication on a vector

v = [2,3,4]
s = -3

L = []

for i in v:
    result = i * s
    L.append(result)

print(L)

[-6, -9, -12]

In [47]:
TC = tuple((i*s for i in v))
print(TC)

(-6, -9, -12)

In [48]:
v=[2,3,4]
result=tuple((i*-3 for i in v ))
result

(-6, -9, -12)

# Sets

A set is an unordered collection of items. Every set element is unique (no duplicates) and must be immutable (cannot be changed).

However, a set itself is mutable. We can add or remove items from it.

Sets can also be used to perform mathematical set operations like union, intersection, symmetric difference, etc.

Characterstics:
- Unordered
- Mutable
- No Duplicates
- Can't contain mutable data types

# Creating Sets

In [49]:
# empty
s = set()
print(s)
print(type(s))

set()
<class 'set'>

In [50]:
# 1D 
s1 = {1,2,3}
print(s1)

{1, 2, 3}

In [51]:
#2D
s2 = {1,2,3,{4,5}}
print(s2)

TypeError: unhashable type: 'set'

In [52]:
#2D
s2 = {1,2,3,(4,5)}
print(s2)

{3, 1, (4, 5), 2}

In [53]:
s1 = {1,2,3,4}
s2 = {4,3,2,1}

s1==s2

True

In [54]:
# homo and hetro
s3 = {1,'hello',4.5,(1,2,3)}
print(s3)

{1, (1, 2, 3), 4.5, 'hello'}

In [55]:
# using type conversion
s4 = set([1,2,3])
print(s4)

{1, 2, 3}

In [56]:
# duplicates not allowed
s5 = {1,1,2,2,3,3}
print(s5)

{1, 2, 3}

In [57]:
# set can't have mutable items
s6 = {1,2,[3,4]}
print(s6)

TypeError: unhashable type: 'list'

In [58]:
# empty
s = set()
print(s)
print(type(s))

# 1D
s1 = {1,2,3}
print(s1)

#2D
s2 = {1,2,3,{4,5}}
print(s2)

# homo and hetro
s3 = {1,'hello',4.5,(1,2,3)}
print(s3)

# using type conversion
s4 = set([1,2,3])
print(s4)

# duplicates not allowed
s5 = {1,1,2,2,3,3}
print(s5)

# set can't have mutable items
s6 = {1,2,[3,4]}
print(s6)

set()
<class 'set'>
{1, 2, 3}

TypeError: unhashable type: 'set'

# Accessing Items

In [59]:
s1 = {1,2,3}

In [60]:
s1[0]

TypeError: 'set' object is not subscriptable

In [61]:
s1[0:1]

TypeError: 'set' object is not subscriptable

In [62]:
# Editing Items

s1 = {1,2,3}

s1[0] = 100

TypeError: 'set' object does not support item assignment

In [63]:
# Adding Items

S = {1,2,3,4}
S.add(5)

In [64]:
S

{1, 2, 3, 4, 5}

In [65]:
S.update([11,12,13])
print(S)

{1, 2, 3, 4, 5, 11, 12, 13}

In [66]:
S = {1,2,3,4}
s = list(S)
s

[1, 2, 3, 4]

In [67]:
# Deleting Items

s = {1,2,3,4,5}
s.discard(50)
print(s)

{1, 2, 3, 4, 5}

In [68]:
# remove
s = {1,2,3,4,5,50}
s.remove(50)
print(s)

{1, 2, 3, 4, 5}

In [69]:
# pop
s = {1,2,3,4,5,50}
s.pop()
print(s)

{2, 3, 4, 5, 50}

In [70]:
# clear
s = {1,2,3,4,5,50}
s.clear()
print(s)

set()

## Set Methods

# len/sum/min/max/sorted

In [71]:
s = {3,1,4,5,2,7}

print(len(s))
print(sum(s))
print(min(s))
print(max(s))
print(sorted(s,reverse=False))

6
22
1
7
[1, 2, 3, 4, 5, 7]

In [72]:
# union/update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

# s1 | s2
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [73]:
s1.update(s2)
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5, 6, 7, 8}

In [74]:
s2.update(s1)
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

In [75]:
# intersection/intersection_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.intersection(s2)

{4, 5}

In [76]:
s1

{1, 2, 3, 4, 5}

In [77]:
s1.intersection_update(s2)
print(s1)
print(s2)

{4, 5}
{4, 5, 6, 7, 8}

In [78]:
s1

{4, 5}

In [79]:
# difference/difference_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.difference(s2)

{1, 2, 3}

In [80]:
s1

{1, 2, 3, 4, 5}

In [81]:
s1.difference_update(s2)
print(s1)

{1, 2, 3}

In [82]:
# symmetric_difference/symmetric_difference_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.symmetric_difference(s2)

{1, 2, 3, 6, 7, 8}

In [83]:
s1

{1, 2, 3, 4, 5}

In [84]:
s1.symmetric_difference_update(s2)
print(s1)

{1, 2, 3, 6, 7, 8}

In [85]:
s1 = {1,2,3,4,5}
s2 = {3,4,5}

s2.issubset(s1)

True

In [86]:
s1 = {1,2,3,4,5}
s2 = {3,4,5}

s1.issuperset(s2)

True

In [87]:
# copy
s1 = {1,2,3}
s2 = s1.copy()

print(s1)
print(s2)

{1, 2, 3}
{1, 2, 3}

## Set Operations

In [88]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

### Union(|)

In [89]:
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8}

### Intersection(&)

In [90]:
s1 & s2

{4, 5}

### Difference(-)

In [91]:
s1 - s2

{1, 2, 3}

In [92]:
s2 - s1

{6, 7, 8}

### Symmetric Difference(^)

In [93]:
s2 ^ s1

{1, 2, 3, 6, 7, 8}

### Membership

In [94]:
s1 = {1,2,3,4,5}

1 not in s1

False

### Iteration

In [95]:
s1

{1, 2, 3, 4, 5}

In [96]:
for i in s1:
    print(i)

1
2
3
4
5

### Frozenset
Frozen set is just an immutable version of a Python set object

In [97]:
fs1 = frozenset([1,2,3,4])
fs2 = frozenset([3,4,5,6])
print(fs1)
print(fs2)

frozenset({1, 2, 3, 4})
frozenset({3, 4, 5, 6})

In [98]:
fs1 | fs2

frozenset({1, 2, 3, 4, 5, 6})

In [99]:
fs1 & fs2

frozenset({3, 4})

In [100]:
# 2D
fs = frozenset([1,2,frozenset([3,4])])
fs

frozenset({1, 2, frozenset({3, 4})})

# Set Comprehension

In [101]:
SC = {i for i in range(1,11)}
print(SC)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [102]:
{i**2 for i in range(1,11) if i>5}

{36, 49, 64, 81, 100}

In [103]:
s = {1,2,3,4}
s1 = [4,2,3,1]

In [104]:
for i in s:
    print(i)

1
2
3
4

In [105]:
for i in s1:
    print(i)

4
2
3
1

### Using zip() with Sets

In [106]:
s1 = {1, 2, 3}
s2 = {'a', 'b', 'c'}
zipped = zip(s1, s2)
print(list(zipped))  # Example output: [(1, 'b'), (2, 'a'), (3, 'c')]

[(1, 'a'), (2, 'b'), (3, 'c')]

In [107]:
zipped = [(1, 'a'), (2, 'b'), (3, 'c')]
s1, s2 = zip(*zipped)
print(s1)  # (1, 2, 3)
print(s2)

(1, 2, 3)
('a', 'b', 'c')

## Dictionary

Dictionary in Python is a collection of keys values, used to store data values like a map, which, unlike other data types which hold only a single value as an element.

In some languages it is known as map or assosiative arrays.

dict = { 'name' : 'tansen' , 'age' : 22 , 'gender' : 'male' }

### Characterstics:

- Mutable
- Indexing has no meaning
- keys can't be duplicated
- keys can't be mutable items

### Create Dictionary

In [108]:
# empty dictionary
d = {}
print(d)
print(type(d))

{}
<class 'dict'>

In [109]:
# 1D dictionary
d1 = {"name": "tansen", "age":22, "Gender":"male"}
print(d1)

{'name': 'tansen', 'age': 22, 'Gender': 'male'}

In [110]:
# with mixed keys
d2 = {(1,2,3):33, "name": "tansen"}
print(d2)

{(1, 2, 3): 33, 'name': 'tansen'}

In [111]:
# with mixed keys
d2 = {[1,2,3]:33, "name": "tansen"}
print(d2)

TypeError: unhashable type: 'list'

In [112]:
# 2D dictionary
d3 = {
    "name": "tansen",
    "college_name": "ABC",
    "semester": 5,
    "subjects": {"DSA":80, "Math":50, "English": 70}

}

print(d3)

{'name': 'tansen', 'college_name': 'ABC', 'semester': 5, 'subjects': {'DSA': 80, 'Math': 50, 'English': 70}}

In [113]:
# using sequence and dict function
d4 = dict([("name", "tansen"), ("age", 22)])
print(d4)

{'name': 'tansen', 'age': 22}

In [114]:
# duplicate keys
d5 = {"name": "tansen", "name": "Alex", "age":22, "Gender":"male"}
print(d5)

{'name': 'Alex', 'age': 22, 'Gender': 'male'}

In [115]:
# mutable items as keys
d6 = {[1,2,3]:33, "name": "tansen"}
print(d6)

TypeError: unhashable type: 'list'

### Accessing items

In [116]:
d1 = {"name": "tansen", "age":22, "Gender":"male"}

In [117]:
d1[0]

KeyError: 0

In [118]:
d1

{'name': 'tansen', 'age': 22, 'Gender': 'male'}

In [119]:
d1["name"]

'tansen'

In [120]:
d1["age"]

22

In [121]:
d1["Gender"]

'male'

In [122]:
d3 = {
    "name": "tansen",
    "college_name": "ABC",
    "semester": 5,
    "subjects": {"DSA":80, "Math":50, "English": 70}

}

In [123]:
d3["subjects"]["Math"]

50

In [124]:
d3["college_name"]

'ABC'

### Adding key-value pair

In [125]:
d1 = {"name": "tansen", "age":22, "Gender":"male"}
print(d1)

{'name': 'tansen', 'age': 22, 'Gender': 'male'}

In [126]:
d1["weight"] = 70

In [127]:
d1

{'name': 'tansen', 'age': 22, 'Gender': 'male', 'weight': 70}

In [128]:
d3 = {
    "name": "tansen",
    "college_name": "ABC",
    "semester": 5,
    "subjects": {"DSA":80, "Math":50, "English": 70}

}

In [129]:
d3["subjects"]["python"] = 80

In [130]:
d3

{'name': 'tansen',
 'college_name': 'ABC',
 'semester': 5,
 'subjects': {'DSA': 80, 'Math': 50, 'English': 70, 'python': 80}}

### Editing key-value pair

In [131]:
d1 = {"name": "tansen", "age":22, "Gender":"male"}
print(d1)

{'name': 'tansen', 'age': 22, 'Gender': 'male'}

In [132]:
d1['name'] = "Alex"

In [133]:
d1

{'name': 'Alex', 'age': 22, 'Gender': 'male'}

### Remove key-value pair

In [134]:
d1 = {"name": "tansen", "age":22, "Gender":"male"}

In [135]:
# pop
d1.pop("age")
print(d1)

{'name': 'tansen', 'Gender': 'male'}

In [136]:
# popiteam
d1 = {"name": "tansen", "age":22, "Gender":"male"}
d1.popitem()
print(d1)

{'name': 'tansen', 'age': 22}

In [137]:
# del
d1 = {"name": "tansen", "age":22, "Gender":"male"}
del d1["name"]
print(d1)

{'age': 22, 'Gender': 'male'}

In [138]:
#clear

d1 = {"name": "tansen", "age":22, "Gender":"male"}
d1.clear()
print(d1)

{}

### Dictionary Operations

- Membership
- Iteration

In [139]:
d = {"name": "tansen", "age":22, "gender": "male"}

In [140]:
"name" not in d

False

In [141]:
for i in d:
    print(i,d[i])

name tansen
age 22
gender male

In [142]:
for i in d:
    print(f"{i}:{d[i]}")

name:tansen
age:22
gender:male

### Dictionary Methods/Functions

In [143]:
d = {"name": "tansen", "age":22, "gender": "male"}
print(d)

{'name': 'tansen', 'age': 22, 'gender': 'male'}

In [144]:
#common functions
print(len(d))
print(sorted(d,reverse=False))
print(max(d))
print(min(d))

3
['age', 'gender', 'name']
name
age

### items/keys/values

In [145]:
d = {"name": "tansen", "age":22, "gender": "male"}

In [146]:
print(d.items())

dict_items([('name', 'tansen'), ('age', 22), ('gender', 'male')])

In [147]:
print(d.keys())

dict_keys(['name', 'age', 'gender'])

In [148]:
print(d.values())

dict_values(['tansen', 22, 'male'])

In [149]:
# update

d1 = {1:2,3:4,4:5}
d2 = {4:7,6:8}

d1.update(d2)
print(d1)

{1: 2, 3: 4, 4: 7, 6: 8}

### Dictionary Comprehension
![image.png]()

In [150]:
# print 1st 10 numbers and their squares
{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [151]:
products = {'phone':10,'laptop':0,'charger':32,'tablet':0}

for i, j in products.items():
   

    if j >0:
        print(i,j)

phone 10
charger 32

In [152]:
# using if condition
products = {'phone':10,'laptop':0,'charger':32,'tablet':0}

{key:value for (key,value) in products.items() if value>0}

{'phone': 10, 'charger': 32}

In [153]:
# using zip
days = ["Sunday", "Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
temp_C = [30.5,32.6,31.8,33.4,29.8,30.2,29.9]

{i:j for (i,j) in zip(days,temp_C)}

{'Sunday': 30.5,
 'Monday': 32.6,
 'Tuesday': 31.8,
 'Wednesday': 33.4,
 'Thursday': 29.8,
 'Friday': 30.2,
 'Saturday': 29.9}