# Our Frist Python Program

In [1]:
print("Hello World")

Hello World

In [2]:
print('Hello World')

Hello World

In [3]:
print("Hello",1,2,3,4,5,6.6,True)

Hello 1 2 3 4 5 6.6 True

In [4]:
print("Hello",1,2,3,4,5,6.6,True, sep="-")

Hello-1-2-3-4-5-6.6-True

In [5]:
print("Hello",1,2,3,4,5,6.6,True, sep=",")

Hello,1,2,3,4,5,6.6,True

# Data Type in Python & Comments

1. Integer
2. Float (decimal)
3. Boolean
4. String (text)
5. Complex
6. List
7. Tuple
8. Sets
9. Dictionary

In [6]:
# This is a single line comment, this print function prints a sentence
print("My name is Tansen")

My name is Tansen

In [7]:
"""
This is Multiline Comment
this print function prints a sentence
fhsdjhfksdhfkldsf
sdkhfkdjshflkdsf
sdlhfjdlkshfkdjs
"""

print("My name is Tansen")

My name is Tansen

In [8]:
# Integer

print(2)

2

In [9]:
print(200000000000)

200000000000

In [10]:
type(200000000000)

int

In [11]:
# Float

print(3.3)

3.3

In [12]:
type(3.3)

float

In [13]:
# Bolean
# Python is case sensative language

print(False)

False

In [14]:
type(False)

bool

In [15]:
# String

print("Bappy Inception")

Bappy Inception

In [16]:
type("Tansen Inception")

str

In [17]:
# Complex

print(5 + 7j)

(5+7j)

In [18]:
type(5 + 7j)

complex

In [19]:
# List

print([1,2,3])

[1, 2, 3]

In [20]:
type([1,2,3])

list

In [21]:
# Tuple

print((1,2,3))

(1, 2, 3)

In [22]:
type((1,2,3))

tuple

In [23]:
# Sets

print({1,2,3})

{1, 2, 3}

In [24]:
type({1,2,3})

set

In [25]:
# Dictionary

print({"Name":"Tansen", "Age":25})

{'Name': 'Tansen', 'Age': 25}

In [26]:
type({"Name":"Tansen", "Age":25})

dict

# Variables, Keywords & Identifiers in Python

# Variables

In [27]:
a = 2  # int
print(a)

2

In [28]:
b = 3.3 # Float
print(b)

3.3

In [29]:
c = True
d = 'Tansen'
print(c)
print(d)

True
Tansen

In [30]:
type(c)

bool

In [31]:
name = "Alex"
print("Welcome", name)

Welcome Alex

In [32]:
a = 2
b = 5

print(a+b)

7

In [33]:
# Dynamic Typing
a = 7

# Static Typing
int a = 7;

SyntaxError: invalid syntax (2158101679.py, line 5)

In [34]:
type(a)

int

In [35]:
a = 7
a = "Tansen"
print(a)

Tansen

In [36]:
# Dynamic Binding
a = 5
print(a)
a = "Tansen"
print(a)

# Static Binding

int a = 7;

str a = "Tansen";

SyntaxError: invalid syntax (3641099898.py, line 9)

In [37]:
a = 1
b = 2
c = 3

print(a)
print(b)
print(c)

1
2
3

In [38]:
a = 1
b = 2
c = 3

print(a, b, c)

1 2 3

In [39]:
a,b,c = 1,2,3
print(a, b, c)

1 2 3

In [40]:
a = 5
b = 5
c = 5

print(a, b, c)

5 5 5

In [41]:
a = b = c = 5

print(a, b, c)

5 5 5

# Keywords

- Boolean Literals
  - `True`: Boolean true value
  - `False`: Boolean false value
  - `None`: Represents absence of value

- Conditional / Decision Making
  - `if`: Conditional execution
  - `elif`: Else-if condition
  - `else`: Default condition
  - `assert`: Check condition, raise error if false
  - `not`: Logical NOT
  - `and`: Logical AND
  - `or`: Logical OR
  - `in`: Membership check
  - `is`: Identity check

- Loops
  - `for`: For loop
  - `while`: While loop
  - `break`: Exit loop
  - `continue`: Skip current iteration
  - `else`: Optional else block in loops

- Functions & Classes
  - `def`: Define a function
  - `return`: Return value from function
  - `lambda`: Anonymous function
  - `class`: Define a class
  - `nonlocal`: Modify variable in outer (but non-global) scope
  - `global`: Declare global variable

- Exception Handling
  - `try`: Start exception block
  - `except`: Handle exception
  - `finally`: Execute code regardless of exception
  - `raise`: Raise an exception

- Modules & Imports
  - `import`: Import module
  - `from`: Import specific names from module
  - `as`: Alias for module or variable

- Asynchronous Programming
  - `async`: Define asynchronous function
  - `await`: Wait for asynchronous operation

- Others / Flow Control
  - `pass`: Do nothing (placeholder)
  - `del`: Delete variable or object
  - `yield`: Produce generator value

# Identifiers

In [42]:
name = "Tansen"
print(name)

Tansen

In [43]:
# You can't start with any digit

1name = 'Tansen'

SyntaxError: invalid decimal literal (587332446.py, line 3)

In [44]:
name1 = 'Tansen'

In [45]:
# You can't use any special chars except _

*name = "Tansen"

SyntaxError: starred assignment target must be in a list or tuple (3639086352.py, line 3)

In [46]:
name$ = "Tansen"

SyntaxError: invalid syntax (1991859750.py, line 1)

In [47]:
_name = "Tansen"

In [48]:
name_ = "Tansen"

In [49]:
_ = "Tansen"

# Python Input

Static - Calender, Clock

Dynamic - Youtube, Facebook

In [50]:
input()

'hello'

In [55]:
var = input()

In [56]:
print(var)

2

In [57]:
type(var)

str

In [58]:
var = float(var)
type(var)

float

In [59]:
var = input("Enter Your Name: ")
print(var)

Tansen

## Simple Calculator using input

In [60]:
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))


result = a - b
print(result)

2

# Type Conversion in Python:

1. Implicit - Internally by Python
2. Explicit - By the Programmer

In [61]:
# Implicit

a = 5 + 5.5

print(a)
print(type(a))

10.5
<class 'float'>

In [62]:
# Explicit

b = 4 + int("4")
print(b)
print(type(b))

8
<class 'int'>

In [63]:
num = 34

print(float(num))

34.0

In [64]:
num = "34"

print(float(num))

34.0

In [65]:
num = 3.4

print(int(num))

3

In [66]:
num = 4 + 6j

type(num)

float(num)

TypeError: float() argument must be a string or a real number, not 'complex'

# Literals in Python

In [67]:
a = 3
print(type(a))

<class 'int'>

In [68]:
a = 0b1010 #Binary Literals
b = 100 #Decimal Literal
c = 0o310 #Octal Literal
d = 0x12c #Hexadecimal Literal

In [69]:
print(a)

10

In [70]:
print(b)

100

In [71]:
print(c)

200

In [72]:
print(d)

300

In [73]:
# Float Literals

float_1 = 10.5
float_2 = 1.5e2 # 1.5 * 10^2
float_3 = 1.5e-3 # 1.5 * 10^-3

In [74]:
print(float_1)
print(float_2)
print(float_3)

10.5
150.0
0.0015

In [75]:
#Complex Literal
x = 3.14j

In [76]:
info = """
My name is Tansen.
I am teaching Python
I am a Data Scientist
shdflsdhlfsd
sdlkhflksdhnf
hnjklsdjfl
"""

In [77]:
info = "
My name is Tansen.
I am teaching Python
I am a Data Scientist
"

SyntaxError: unterminated string literal (detected at line 1) (1771095799.py, line 1)

In [78]:
string = 'This is Python'
strings = "This is Python"
char = "C"
multiline_str = """This is a multiline string with more than one line code."""
unicode = u"\U0001f600\U0001F606\U0001F923"
raw_str = r"raw \n string"

print(string)
print(strings)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

This is Python
This is Python
C
This is a multiline string with more than one line code.
ðŸ˜€ðŸ˜†ðŸ¤£
raw \n string

In [79]:
# True = 1
# False = 0

a = True + 4
b = False + 10

print("a:", a)
print("b:", b)

a: 5
b: 10

In [80]:
# None

a = None

In [81]:
x = None
y = 2
z = 4

print(x,y,z)

None 2 4

# Operators in Python

- Arithmetic Operators
- Relational Operators
- Logical Operators
- Bitwise Operators
- Assignment Operators
- Membership Operators

# Arithmetic Operators

In [82]:
print(4+3)

7

In [83]:
print(4-3)

1

In [84]:
print(4*3)

12

In [85]:
print(4/2)

2.0

In [86]:
print(4//2)

2

In [87]:
print(4%2)

0

In [88]:
print(5**2)

25

# Relational Operators

In [89]:
print(4>5)

False

In [90]:
print(4<5)

True

In [91]:
print(4>=4)

True

In [92]:
print(4<=4)

True

In [93]:
print(4==4)

True

In [94]:
print(4!=4)

False

# Logical Operators

In [95]:
print(0 and 1)

0

In [96]:
print(0 or 1)

1

In [97]:
print(not 1)

False

In [98]:
print(not 0)

True

# Bitwise Operators

In [99]:
# bitwise and
print(2 & 3)

# bitwise or
print(2 | 3)

# bitwise xor
print(2 ^ 3)

#bitwise not
print(~3)

#right shift
print(4 >> 2)

#left shift
print(5 << 2)

2
3
1
-4
1
20

# Assignment Operators

In [100]:
a = 2

In [101]:
a = 2

a += 1

print(a)

3

# Membership Operators

In [102]:
# in/not in

In [103]:
print('B' in "Bangladesh")

True