## Strings in Python

### String is a sequence of characters enclosed in quotes

#### In Python specifically, strings are a sequence of Unicode Characters

- Creating Strings
- Accessing Strings
- Adding Chars to Strings
- Editing Strings
- Deleting Strings
- Operations on Strings
- String Functions

### Creating Strings

In [1]:
s = 'hello'
s = "hello"

# multiline strings
s = '''hello'''
s = """hello"""
s = str('hello')
print(s)

hello

#### String explicit type conversion (int to str)

In [2]:
a = 34
str(a)

'34'

In [3]:
text = 'it's my bike'
print(text)

SyntaxError: unterminated string literal (detected at line 1) (3403288053.py, line 1)

In [4]:
text = "it's my bike"
print(text)

it's my bike

### Accessing Strings

In [5]:
# positive access

s = "welcome to python"

In [6]:
print(s[0])

w

In [7]:
print(s[11])

p

In [8]:
print(s[50])

IndexError: string index out of range

In [9]:
len(s)

17

In [10]:
# Negative indexing

s = "welcome to python"

In [11]:
print(s[-11])

e

In [12]:
# String slicing

s = "welcome to python"

In [13]:
s[0:7]

'welcome'

In [14]:
print(s[11:17])

python

In [15]:
print(s[11:500])

python

In [16]:
print(s[11:])

python

In [17]:
print(s[:])

welcome to python

In [18]:
print(s[0:7:2])

wloe

In [19]:
s = "welcome to python"

In [20]:
print(s[1:7])

elcome

In [21]:
print(s[6::-1])

emoclew

In [22]:
print(s[6::-2])

eolw

In [23]:
s

'welcome to python'

In [24]:
print(s[::-1])

nohtyp ot emoclew

In [25]:
print(s[::-2])

nhy teolw

- Adding Chars to Strings
- Editing Strings
- Deleting Strings

In [26]:
s = "welcome to python"

In [27]:
s[0] = "A"

TypeError: 'str' object does not support item assignment

### Python strings are immutable

In [28]:
s[18] = "A"

TypeError: 'str' object does not support item assignment

In [ ]:
del s[0]

TypeError: 'str' object doesn't support item deletion

In [ ]:
del s

In [ ]:
s

NameError: name 's' is not defined

### Index access

In [29]:
intro = "My name is Tansen"
intro.index("T") - len(intro)

-6

In [30]:
intro[-6::]

'Tansen'

### positive and negative index access (Multiple)

In [31]:
indices  = [i for i,c in enumerate(intro) if c =="n"]
indices

[3, 13, 16]

In [32]:
neg_indices = [i - len(intro) for i in indices]
neg_indices

[-14, -4, -1]

In [33]:
s="welcome to python"

indices = [i for i,c in enumerate(s) if c=="n"]
indices

[16]

## Operations on Strings

- Arithmetic Operations
- Relational Operations
- Logical Operations
- Loops on Strings
- Membership Operations

In [34]:
# Arithmetic Operations

print("Hi" + " " + "Everyone") #concatination

Hi Everyone

In [35]:
print("Hi" * 500)

HiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHi

In [36]:
print("*" * 100)

****************************************************************************************************

In [37]:
# Relational Operations

print("Hello" == "Hello") # equality
print("Hello"!= "World") # not equal
print("Hello" > "Hi") # greater than
print("Hello" < "World") # less than
print("Hello" >= "Hello") # greater than or equal to

True
True
False
True
True

In [38]:
# Logical Operations

"hello" and "World"

'World'

In [39]:
"hello" or 'world'

'hello'

In [40]:
not "hello"

False

In [41]:
# Loops on Strings
for i in "Tansen":
    print(i)

T
a
n
s
e
n

In [42]:
# Membership Operations

'B' in "Tansen"

False

## Common Functions/Methods
- len
- max
- min
- sorted

In [43]:
s = "Welcome to Python"

In [44]:
len(s)

17

In [45]:
max(s)

'y'

In [46]:
min(s)

' '

In [47]:
s

'Welcome to Python'

In [48]:
sorted(s)

[' ',
 ' ',
 'P',
 'W',
 'c',
 'e',
 'e',
 'h',
 'l',
 'm',
 'n',
 'o',
 'o',
 'o',
 't',
 't',
 'y']

In [49]:
sorted(s, reverse=True)

['y',
 't',
 't',
 'o',
 'o',
 'o',
 'n',
 'm',
 'l',
 'h',
 'e',
 'e',
 'c',
 'W',
 'P',
 ' ',
 ' ']

## Strings Functions/Methods
- Capitalize
- Title
- Upper
- Lower
- Swapcase

In [50]:
s = "welcome to python"

In [51]:
s.capitalize()

'Welcome to python'

In [52]:
print(s)

welcome to python

In [53]:
s.title()

'Welcome To Python'

In [54]:
s.upper()

'WELCOME TO PYTHON'

In [55]:
s = 'WELCOME TO PYTHON'

In [56]:
s.lower()

'welcome to python'

In [57]:
s = 'wElCoMe'

In [58]:
s.swapcase()

'WeLcOmE'

- Count
- Find
- Index

In [59]:
s = "My name is Tansen"

In [60]:
s.count("p")

0

In [61]:
s.find("B")

-1

In [62]:
s.find("z")

-1

In [63]:
s.index("z")

ValueError: substring not found

In [64]:
s.index("B")

ValueError: substring not found

- endswith
- startswith

In [65]:
s = "My name is Tansen"

In [66]:
s.endswith("py")

False

In [67]:
s.startswith("My")

True

 format

In [68]:
name = "Tansen"
gender = "Male"

s = "My name is {}, and I am a {}"

In [69]:
s.format(name, gender)

'My name is Tansen, and I am a Male'

In [70]:
s = "Welcome {} to facebook"

In [71]:
name = "Alex"

s.format(name)

'Welcome Alex to facebook'

In [72]:
name = "Tansen"
gender = "Male"

s = "My name is {1}, and I am a {0}"

In [73]:
s.format(name, gender)

'My name is Male, and I am a Tansen'

In [74]:
s.format(gender, name)

'My name is Tansen, and I am a Male'

# f-strings

In [75]:
age = 25
s = f"My name is {name}, and I am a {gender}. I am {age} years old"
print(s)

My name is Tansen, and I am a Male. I am 25 years old

- isalnum
- isalpha
- isdigit
- isidentifier

In [76]:
s = "Tansen123@"

In [77]:
s.isalnum()

False

In [78]:
s = "123"
s.isalnum()

True

In [79]:
s = "Tansen12"

In [80]:
s.isalpha()

False

In [81]:
s = "12"
s.isdigit()

True

In [82]:
s = "name_age"

In [83]:
s.isidentifier()

True

- Split
- Join

In [84]:
s = "My name is Tansen"

In [85]:
s.split()

['My', 'name', 'is', 'Tansen']

In [86]:
s = "My,name,is,Tansen"

In [87]:
s.split(",")

['My', 'name', 'is', 'Tansen']

In [88]:
s = "My@name@is@Tansen"

In [89]:
r = s.split("@")

In [90]:
type(r)

list

In [91]:
# join

words = ['My', 'name', 'is', 'Tansen']

In [92]:
s = " "

s = s.join(words)
print(s)

My name is Tansen

- Replace
- Strip

In [93]:
s = "My name is Tansen"

In [94]:
s.replace("Tansen", "Alex")

'My name is Alex'

In [95]:
s

'My name is Tansen'

In [96]:
s = "  My name is Tansen      "

In [97]:
s = s.strip()

In [98]:
s

'My name is Tansen'

## Strings Exercise

1. Find the length of a given string without using the len() function

2. Extract username from a given email. 
- Ex:  
    if the email is aatansen@gmail.com
    then the username should be aatansen

In [99]:
s = input("Enter a String: ")

counter = 1
for i in s:
    counter += 1


print(counter)

9

In [100]:
len("My name is tansen")

17

In [101]:
# email ="aatansen@gmail.com"
email = input("Enter your email: ")

pos = email.index("@")

print(email[0:pos])

aatansen

In [102]:
e = "tansen@gmail.com"
e.index("@")

6

3. Write a program that can check whether a given string is palindrome or not.

 - abba
 - mam
 - madam

In [107]:
word = input("Enter your word: ")

flag = True

for i in range(0, len(word)//2):
    if word[i] != word[len(word) - i -1]:
        flag = False
        print("Not a Palindrome")
        break

if flag:
    print("Palindrome")

Palindrome

In [108]:
abba  = 4

In [109]:
4//2

2

- ab ba
- malayalam = 9
- 9//2 = 4
- mala y alam